.content {
    margin: 1rem 1rem;
}

.add {
    text-align: center;
    margin: 1rem 0rem;
}


.subscribedList {
    margin-top: 1rem;
}

p.faded {
    opacity: 0.8;
}

.caseTable {
    overflow: scroll;
    max-height: 65vh;
}

#interested {
    margin-bottom: .7rem;
}

.iconText {
    opacity: 0.5;
    font-size: .5rem;
}

.container {
    max-width: 1500px;
    margin: auto;
}

.heading:hover {
    cursor: default;
}

.caseDate {
    margin-bottom: 3px;
}

.alignWithIcon {
    align-items:center;
}

p.slightEmphasis {
    font-weight: 500;
}

.externals a {
    text-decoration: underline;
    margin-right: 1.5rem;
}

#lastUpdated {
    opacity: 0.6;
}

#lastUpdated:hover {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tables {
    padding: 0px !important;
}

.tableCaption {
}

.noCases {
    padding: 1rem;
}

.navbarButtons button {
    margin-right: .7rem;
}

.flexInputSuburbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flexInput {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.flexSuburbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.flexedSuburb {
    margin: 2px 2px;
}